.mod-login{
    height: 260px;
    width:440px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    background-color: #f5f5f5;
}
.mod-login .login-box{
    position: absolute;
    top:40px;
    right: 40px;
    width: 286px;
    height: 387px;
}
.mod-login .login-box .wrap{
   width:287px;
   overflow:hidden;
}
.mod-login .login-box form{
    padding: 6px 14px;
    color:#fff;
}
.mod-login form legend{
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    width:420px;
    margin-bottom: 14px;
}
.ui-form-content{
    padding-left: 4px;
}
.mod-login form .btn{
    padding: 7px 12px;
    width:120px;
    margin-left: 86px;
}
.mod-login .form-horizontal .control-label {
    width:80px;
}
.mod-login  .form-horizontal .controls {
    margin-left: 86px;
}
.mod-login .error-box{
    padding-left: 84px;
    height: 23px;
    line-height: 23px;
    color:#c00;
}