.mod-bill-nav{
    height: 30px;
    border-bottom:2px solid #ed5100;
    margin-top: 16px;
}
.mod-bill-nav ul{
    float: left;
    margin:0px;
}
.mod-bill-nav li{
    float: left;
    width:120px;
    height: 30px;
    line-height: 30px;
    list-style: none;
    text-align: center;
    background-color: #ffe0b8;
}
.mod-bill-nav li a:link,
.mod-bill-nav li a:visited{
    color:#000;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.mod-bill-nav li.active{
    background-color: #ed5100;
}
.mod-bill-nav li.active a:link,
.mod-bill-nav li.active a:visited{
    color:#fff;
}

.mod-guide{

}
.mod-guide .header{
    height: 40px;
    font-size: 14px;
    overflow:hidden;
    padding-top: 12px;
}

.mod-order-source-filter{

}
.mod-order-source-filter .form-horizontal{
    padding-top: 20px;
}
.mod-order-source-filter .form-horizontal  .controls{
    margin-left: 0px;
}

.mod-order-source-filter .form-horizontal .field{
    width: 242px;
    float: left;
}

.mod-bill-list .date{
    width:120px;
}
.mod-bill-list .count{
    width: 160px;
}
.mod-bill-list .detail{
    width:150px;
}

.mod-bill-list .operation{
    width: 250px;
}
.mod-bill-list table a{
    margin: 0px 8px;
    text-decoration: underline;
}

.mod-no-result .no-result {
    height: 100px;
    line-height: 40px;
    padding-top: 40px;
    background: transparent url(../../img/pages/icon-no-result.png) no-repeat 320px 42px;
    padding-left: 360px;
}