.data-container{

}

.data-container .grid-main{
    float: left;
    width: 710px;
    min-height: 400px;
    padding-top: 22px;
}
.data-container .grid-sub{
    float: right;
    width: 270px;
    min-height: 400px;
}
.mod-overview{
    height: 122px;
    overflow: hidden;
    padding-left: 170px;
    background: transparent url(../../img/pages/gaikuang.png) no-repeat 0px 0px;
}
.mod-overview .header{
    font-size: 16px;
    color: #9c9c9e;
    padding-top: 30px;
    height:30px;
}
.mod-overview .header span{
    padding: 0px 4px;
}
.mod-overview table{
    width:540px;
}
.mod-overview table .c1{
    width: 190px;
}
.mod-overview table .c2{
    width: 190px;
}
.mod-overview table em{
    color:#ff7300;
    font-style: normal;
}

.mod-detail .header{
    margin-top: 10px;
    height: 48px;
    color:#808080;
    font-size: 12px;
    width:710px;
    line-height: 48px;
}
.mod-detail .header .title{
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding-top: 4px;
}
.mod-detail .header .action{
    float: right;
}
.mod-detail .header .action .select-date{
    margin-bottom: 0px;
    width: 130px;
}
