.mod-feature-list{
    padding: 40px 0px 50px 0px;
    height:330px;
}
.mod-feature-list li{
    float: left;
    width: 266px;
    height: 330px;
    _display: inline;
    list-style: none;
    padding:0px;
    margin: :0px;
    margin-left: 74px;
    border:1px solid #e6e5e5;
}
.mod-feature-list li:hover{

}
.mod-feature-list li a{
    display: block;
    width:266px;
    height:280px;
    overflow: hidden;
}
.mod-feature-list li span{
    display: block;
    position:absolute;
    top:200px;
    left:80px;
    display: none;
}
.mod-feature-list li.order{
     margin-left: 10px;
}