.layout-banner{
    background: transparent url(../../img/pages/login.jpg) no-repeat center 0px;
}

.mod-login{
    height: 380px;
    position: relative;
    font-size: 12px;
}
.mod-login label,
.mod-login input{
    font-size: 12px;
}
.mod-login .login-box{
    position: absolute;
    top:40px;
    right: 20px;
    width: 286px;
    height: 387px;
}
.mod-login .login-box .wrap{
    background:rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#66000000',EndColorStr='#66000000')
    width:287px;
    overflow:hidden;
}
.mod-login .login-box form{
    padding: 3px 24px;
    color:#fff;
}
.mod-login .ui-form-content{
    padding-left: 0px;
}
.mod-login .login-box form legend{
    color:#fff;
    font-size: 16px;
    margin-bottom: 10px;
    height: 25px;
    line-height: 21px;
    width: 233px;
}
.ui-form-content{
    padding-left: 4px;
}
.mod-login .login-box form .btn{
    padding: 7px 12px;
    width:234px;
    margin-right: 0px;
}
.mod-login .login-box form .label{
    line-height: 15px;
    padding: 4px 8px;
}
.mod-login  #userName,
.mod-login  #pwd{
    width: 220px;
}
.mod-login .login-box form .label-error{
    margin: 10px auto 0 auto;
    margin-left: 0px;
    margin-bottom: 4px;
    width: 202px;
    padding: 5px 5px 5px 25px;
    line-height: 1.3;
    background: #ffffd0 url(../../img/pages/x.png) no-repeat 6px 6px;
    display: block;
    border: 1px solid #ffad77;
    color: #f00;
}

.mod-about-bs{

}
.mod-about-bs .content{
    height: 250px;
    padding-top: 24px;
}
.mod-about-bs dd.item{
    float:left;
    width: 306px;
    margin-left: 0px;
    padding-left: 24px;
}
.mod-about-bs dd.item ul{
    margin-left: 0px;
}
.mod-about-bs dd.item li{
    line-height: 26px;
    padding-left: 37px;
    list-style: none;
}
.mod-about-bs dd.item h2{
    font-size: 18px;
    color:#666;
    padding-left: 44px;
    background: transparent url("../../img/pages/tj.png") no-repeat 0px 6px
}