.order-filter{

}
.order-filter .form-horizontal{
    padding-top: 20px;
}
.order-filter .form-horizontal .label-order-id{
    width:78px;
}
.order-filter .form-horizontal  .controls{
    margin-left: 78px;
}

.table-order-list th.oid{
   width:110px;
}
.table-order-list th.warehouse{
    width: 108px;
}
.table-order-list th.people{
   width: 50px;
}
.table-order-list th.name{
    width: 150px;
}
.table-order-list th.phone{
      width: 92px;
}
.table-order-list th.time{
   width:110px;
}
.table-order-list th.posttime{
   width: 110px;
}
.table-order-list th.state{
   width: 100px;
}
.table-order-list th.action{
    width: 50px;
}

.mod-no-result .no-result {
    height: 100px;
    line-height: 40px;
    padding-top: 40px;
    background: transparent url(../../img/pages/icon-no-result.png) no-repeat 320px 42px;
    padding-left: 360px;
}